<!DOCTYPE html>
<html>
   <head>
       <style>
           body{
               background-color: wheat;
           }
           h2{
               color: darkblue ;
               text-align: center;
               font: 10px;
           }
           .logout {
            background-color:rgb(188, 206, 188);
            color: darkblue;
            padding: 16px 20px;
            margin: 8px 0;
            border: none;
            cursor: pointer;
            width: 20%;
            opacity: 0.9;
            }
          
       </style>
   </head>
   <body>
      <h2> Login successfully  </h2>
      <form action = "/" >
      <button type="submit"  class = "logout"  value="Logout">Logout</button>
    </form>
    </body>